@charset "UTF-8";
.clm-navigator {
	width: 75%;
	background-color: #F5F5F5;
	float: center;
	margin: 15px auto 15px auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.clm-navigator .clm-nav-pills {
	margin-bottom: 0;
}

.clm-navigator .clm-nav-child {
	position: absolute;
	top: 95%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	/*background-color: #fff;*/
	background-color: #F5F5F5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}

.clm-navigator .clm-nav-child.pull-right {
	right: 0;
	left: auto;
}

.clm-navigator .clm-nav-child .divider {
	*width: 100%;
	height: 1px;
	margin: 8px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
}

.clm-navigator .clm-nav-child a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
}

.clm-navigator .clm-nav > li {
	position: relative;
	display: inline-block;
	list-style-type: none;
}

.clm-navigator .clm-nav-child li {
	width: 100%;
	display: block;
}


.clm-navigator .clm-nav > li:hover > .clm-nav-child,
.clm-navigator .clm-nav > li > a:focus + .clm-nav-child,
.clm-navigator .clm-nav li li:hover > .clm-nav-child,
.clm-navigator .clm-nav li li > a:focus + .clm-nav-child {
	display: block;
}

.clm-navigator .clm-nav > li:before {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	height: 6px;
	content: '';
}

.clm-navigator .clm-nav > li > .clm-nav-child:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.clm-navigator .clm-nav > li > .clm-nav-child:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.clm-navigator .clm-nav-child li > a:hover,
.clm-navigator .clm-nav-child li > a:focus,
.clm-navigator .clm-nav-child:hover > a {
	text-decoration: none;
	color: #fff;
	background-color: #005e8d;
	/*background-color: #005783;*/
	background-image: -moz-linear-gradient(top, #005e8d, #004d74);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005e8d),
		to(#004d74));
	background-image: -webkit-linear-gradient(top, #005e8d, #004d74);
	background-image: -o-linear-gradient(top, #005e8d, #004d74);
	background-image: linear-gradient(to bottom, #005e8d, #004d74);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff005e8d',
		endColorstr='#ff004c73', GradientType=0);
}

.clm-nav-pills {
	*zoom: 1;
}

.clm-nav-pills:before,
.clm-nav-pills:after {
	display: table;
	content: "";
	line-height: 0;
}

.clm-nav-pills:after {
	clear: both;
}


.clm-nav-pills > li {
	/*float: left;*/
}

.clm-nav-pills > li > a {
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
	background-color: #F5F5F5;
    color: #666666;
    text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.clm-nav-pills > .active > a, 
.clm-nav-pills > .active > a:hover, 
.clm-nav-pills > .active > a:focus {
	color: #fff;
	background-color: #005e8d;
}
/*
.clm-nav-pills .dropdown-menu {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
*/
.clm-nav {
	text-align: center;
	list-style: none;
}

.clm-nav > li > a {
	display: block;
	text-decoration: none;
}

.clm-nav > li > a:hover,
.clm-nav > li > a:focus {
	color: #fff;
	background-color: #005e8d;
	
}

.clm-nav > li > a > img {
	max-width: none;
}

.clm-nav > .pull-right {
	float: right;
}
