<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="clm_turnier_grand_prix_settings" 
		label="COM_CLM_TURNIER_CONFIG_GRAND_PRIX_SETTINGS_LABEL"
		description="COM_CLM_TURNIER_CONFIG_GRAND_PRIX_SETTINGS_DESC">

			<field name="show_title" type="radio" default="1"
				layout="joomla.form.field.radio.switcher"
				label="JGLOBAL_SHOW_TITLE_LABEL" description="JGLOBAL_SHOW_TITLE_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="order_by" type="list" default="1"
				label="COM_CLM_TURNIER_FIELD_ORDER_BY_LABEL" description="COM_CLM_TURNIER_FIELD_ORDER_BY_DESC">
				<option value="0">COM_CLM_TURNIER_FIELD_ORDER_BY_VALUE_SELECT</option>
				<option value="1">COM_CLM_TURNIER_FIELD_ORDER_BY_VALUE_1</option>
				<option value="2">COM_CLM_TURNIER_FIELD_ORDER_BY_VALUE_2</option>
				<option value="3">COM_CLM_TURNIER_FIELD_ORDER_BY_VALUE_3</option>
			</field>
			<field name="use_dwz_from" type="list" default="0"
				label="COM_CLM_TURNIER_USE_DWZ_LABEL" description="COM_CLM_TURNIER_USE_DWZ_DESC">
				<option value="0">COM_CLM_TURNIER_USE_DWZ_FROM_VALUE_0</option>
				<option value="1">COM_CLM_TURNIER_USE_DWZ_FROM_VALUE_1</option>
			</field>
			<field name="link_turnier" type="list" default="0"
				label="COM_CLM_TURNIER_LINKED_TURNIER_LABEL" description="COM_CLM_TURNIER_LINKED_TURNIER_DESC">
				<option value="0">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_SELECT</option>
				<option value="1">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_1</option>
				<option value="2">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_2</option>
				<option value="3">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_3</option>
				<option value="4">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_4</option>
				<option value="5">COM_CLM_TURNIER_LINKED_TURNIER_VALUE_5</option>
			</field>
			
			<field name="spacer1" type="spacer" hr="true" />
			
			<field name="show_player_title" type="radio" default="1"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_PLAYER_TITEL_LABEL" description="COM_CLM_TURNIER_SHOW_PLAYER_TITEL_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_verein" type="radio" default="0"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_VEREIN_LABEL" description="COM_CLM_TURNIER_SHOW_VEREIN_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_dwz" type="radio" default="0"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_DWZ_LABEL" description="COM_CLM_TURNIER_SHOW_DWZ_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_elo" type="radio" default="0"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_ELO_LABEL" description="COM_CLM_TURNIER_SHOW_ELO_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>

			<field name="spacer2" type="spacer" hr="true" />
			
			<field name="show_icons" type="radio" default="1" 
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_ICONS_LABEL"
				description="COM_CLM_TURNIER_SHOW_ICONS_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_print_icon" type="radio" default="1"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_PRINT_ICON_LABEL"
				description="COM_CLM_TURNIER_SHOW_PRINT_ICON_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_email_icon" type="radio" default="1"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_EMAIL_ICON_LABEL"
				description="COM_CLM_TURNIER_SHOW_EMAIL_ICON_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_filter_icon" type="radio" default="1"
				layout="joomla.form.field.radio.switcher"
				label="COM_CLM_TURNIER_SHOW_FILTER_ICON_LABEL"
				description="COM_CLM_TURNIER_SHOW_FILTER_ICON_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			label="JCONFIG_PERMISSIONS_LABEL" validate="rules"
			filter="rules" component="com_clm_turnier" section="component" />
	</fieldset>
</config>
